<% form_for(@p, :url => profile_path(@p), :html => {:multipart => true, :id => 'profile'}) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :first_name, t("views.profiles.first_name") %><br />
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name, t("views.profiles.last_name") %><br />
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :address, t("views.profiles.address") %><br />
		<%= f.text_field :address %>
	</p>
	<p>
		<%= f.label :city, t("views.profiles.city") %><br />
		<%= f.text_field :city %>
	</p>
	<p>
		<%= f.label :zip, t("views.profiles.zip") %><br />
		<%= f.text_field :zip, :size => 10 %>
	</p>
	<p>
		<%= f.label :state, t("views.profiles.state") %><br />
		<%= f.text_field :state %>
	</p>
	<p>
		<%= f.label :location, t("views.profiles.country") %><br />
		<%= f.localized_country_select(:country, [], :include_blank => t("views.common.select_one")) %>
	</p>
	<p>
		<%= f.label :website, t("views.profiles.website") %><br />
		<%= f.text_field :website %>
	</p>
	<p>
		<%= f.label :company, t("views.profiles.company") %><br />
		<%= f.text_field :company %>
	</p>
	<p>
		<%= f.label :time_zone, t("views.profiles.time_zone") %><br />
		<%= f.time_zone_select :time_zone %>
	</p>
	<p>
		<%= f.label :language, t("views.profiles.language") %><br />
		<%= f.select :language, locales %>
	</p>
	<p>
		<%= f.label :avatar, t("views.profiles.avatar") %><br />
		<%= f.file_field :avatar %>
	</p>	
	<p>
		<%= submit_tag t("views.common.save_changes"), :or => (link_to t("views.common.back"), root_path) %>
	</p>
<% end %>