<div id="profile">
	<div id="left">
		<h1><%=h @profile.user %></h1>
		<p><%= @profile.brief_location %></p>
		<%= image_tag(@profile.avatar.image.url(:medium)) %>
		<p><%= friend_link(@p, @profile) %></p>
		<p><%= link_to t("views.common.back"), root_path %></p>
	</div>
	<div id="right">
		<% content_tag :div, :id => "following_list" do -%>
			<h2><%= t("views.common.followings") %></h2>
			<%= render :partial => "friend", :collection => @followings %>
		<% end if @followings.any? %>
		<% content_tag :div, :id => "followers_list" do -%>
			<h2><%= t("views.common.followers") %></h2>
			<%= render :partial => "friend", :collection => @followers %>
		<% end if @followers.any? %>
	</div>
</div>