<% form_for @user, :url => account_path do |f| %>
<%= f.error_messages %>

<p><%= f.label :email, t("views.users.email") %><br />
<%= f.text_field :email %></p>

<p><%= f.label :login, t("views.users.login") %><br />
<%= f.text_field :login %></p>

<p><%= f.label :password, f.object.new_record? ? t("views.users.password") : t("views.users.change_password") %><br />
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, t("views.users.password_confirmation") %><br />
<%= f.password_field :password_confirmation %></p>

<p><%= f.label :openid_identifier, t("views.users.openid_identifier") %><br />
<%= f.text_field :openid_identifier %></p>

<%= submit_tag t("views.common.save_changes"), :or => (link_to "Cancel", root_path) %>
<% end %>